@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<h1>Read</h1>

<div class="container">
    <h5 class="title" id="productTitle">@Model.Product.FullName</h5>


    <img src='@Model.Product.Photo' alt='Image for @Model.Product.FullName' width="150" height="150">


    <p class="card-text">About Me: @Model.Product.AboutMe</p>


    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Skills</h5>
    <div> <hr class="dashed"> </div>
    <p>@Model.Product.PersonalSkill</p><br>


    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Education</h5>
    <div> <hr class="dashed"> </div>
    <div> @Model.Product.EducationHistory.University ,  <strong>@Model.Product.EducationHistory.Degree Degree </strong>  in  <strong>@Model.Product.EducationHistory.Major</strong> </div>
    <div> From @Model.Product.EducationHistory.StartDate to @Model.Product.EducationHistory.EndDate, @Model.Product.EducationHistory.Location</div>

    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Work Experience</h5>


    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Awards</h5>
    <div> <hr class="dashed"> </div>
    <p>Award: @Model.Product.Awards.Award   &nbsp   Issuer: @Model.Product.Awards.Issuer   &nbsp    Date: @Model.Product.Awards.AwardDate</p>

</div>

<br />
<br />

<div class="row">
    <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
    <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger">Delete</a>
</div>
