@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}
<head>
    <script language="javascript" type="text/javascript">

        window.onload = function () {
            var pageUrl = encodeURIComponent(document.URL);
            var tweet = encodeURIComponent($("meta[property='og:description']").attr("content"));

            document.getElementById("facebook").href = "https://www.facebook.com/sharer.php?u=" + pageUrl;
            document.getElementById("twitter").href = "https://twitter.com/intent/tweet?url=" + pageUrl + "&text=" + tweet;
            document.getElementById("linkedin").href = "https://www.linkedin.com/sharing/share-offsite/?url=" + pageUrl;
        }
    </script>
</head>
<div class="container bg-light" style="padding-top:10px; padding-bottom:10px;">

    <h5 class="title" id="productTitle"><strong>@Model.Product.FullName</strong></h5>
    <p class="card-text"></p>

    <img src='@Model.Product.Photo' alt='Image for @Model.Product.FullName' width="300" height="300">
    <p class="card-text"></p>

    <h5 class="title" id="productTitle"><strong>Introduction</strong></h5>
    <p class="card-text"></p>
    <div>@Model.Product.AboutMe</div>
    <p class="card-text"></p>
    <p class="card-text"></p>

    <div> <hr class="dashed"> </div>
    <h5 class="title" id="productTitle"><strong>Skills</strong></h5>
    <p class="card-text"></p>
    <div> @Model.Product.PersonalSkill</div>
    <p class="card-text"></p>
    <p class="card-text"></p>

    <div> <hr class="dashed"> </div>
    <h5 class="title" id="productTitle"><strong>Education</strong></h5>
    <p class="card-text"></p>
    @foreach (var EducationRecord in @Model.Product.EducationList)
    {
        <div> @EducationRecord.University, @EducationRecord.Degree Degree in @EducationRecord.Major </div>
        <div> From @EducationRecord.StartDate to @EducationRecord.EndDate</div>
        <div> @EducationRecord.Location</div>
        <p class="card-text"></p>
    }
    <p class="card-text"></p>
    <p class="card-text"></p>

    <div> <hr class="dashed"> </div>
    <h5 class="title" id="productTitle"><strong>Work Experience</strong></h5>
    <p class="card-text"></p>
    @foreach (var WorkExperience in @Model.Product.WorkExperienceList)
    {
        <div> @WorkExperience.Title at @WorkExperience.Employer </div>
        <div> From @WorkExperience.StartDate to @WorkExperience.EndDate</div>
        <div> @WorkExperience.Description </div>
        <p class="card-text"></p>
    }
    <p class="card-text"></p>
    <p class="card-text"></p>

    <div> <hr class="dashed"> </div>
    <h5 class="title" id="productTitle"><strong>Awards</strong></h5>
    <p class="card-text"></p>
    @foreach (var AwardRecord in @Model.Product.AwardList)
    {
        <div> Award: @AwardRecord.Award</div>
        <div> Issuer: @AwardRecord.Issuer</div>
        <div> Award Date: @AwardRecord.AwardDate</div>
        <p class="card-text"></p>
    }
    <p class="card-text"></p>
    <p class="card-text"></p>

    <div class="links">
        <ul>
            <li><p><a href="#" id="facebook" target="_blank"><img src="https://mississippiriverdelta.org/files/2021/04/download-icon-share-facebook-svg-eps-png-psd-ai-vector-el-fonts-facebook-share-png-1600_522.png" height="30" width="80"></a></li>
            <li><p><a href="#" id="twitter" target="_blank"><img src="https://uxwing.com/wp-content/themes/uxwing/download/10-brands-and-social-media/twitter-share-button.png" height="30" width="80"></a></li>
            <li><p><a href="#" id="linkedin" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR002V9ds_iQMlaJk0G1AGGV3P4U63Ri_OROhdSAXpSd1VFEoXqfQMjwYJoEIdUmwU0yE4&usqp=CAU" height="30" width="80"></a></li>
        </ul>
    </div>

    <div class="row" style="margin:10px;">
        <button class="btn btn-primary" onclick="window.print()" style="margin-right: 10px; width: 100px;">Print</button>
        <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary" style="margin-right: 10px; width: 100px;">Update</a>
        <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger" style="width: 100px;">Delete</a>
    </div>
</div>




