@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<h1>Read</h1>

<div class="container">
    <h5 class="title" id="productTitle">@Model.Product.FullName</h5>


    <img src='@Model.Product.Photo' alt='Image for @Model.Product.FullName' width="150" height="150">

    <p class="card-text">About Me: @Model.Product.AboutMe</p>

    <h5 class="title" id="productTitle">Work Experience</h5>

    @foreach (var work in @Model.WorkExperience)
    {
        <div> <hr class="dashed"> </div>

        <div><strong>Title: @work.Title </strong> at <strong>@work.Employer</strong>     <small> From @work.StartDate To @work.EndDate </small></div>
        <div> @work.RoleDescription </div>
    }

    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Awards</h5>
    <div> <hr class="dashed"> </div>
    <p>@Model.Product.Awards</p><br>

</div>

<br />
<br />

<div class="row">
    <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
    <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger">Delete</a>
</div>
