@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}
<head>
    <script language="javascript" type="text/javascript">

        window.onload = function () {
            var pageUrl = encodeURIComponent(document.URL);
            var tweet = encodeURIComponent($("meta[property='og:description']").attr("content"));

            document.getElementById("facebook").href = "https://www.facebook.com/sharer.php?u=" + pageUrl;
            document.getElementById("twitter").href = "https://twitter.com/intent/tweet?url=" + pageUrl + "&text=" + tweet;
            document.getElementById("linkedin").href = "https://www.linkedin.com/sharing/share-offsite/?url=" + pageUrl;
        }
    </script>
</head>
<div class="container bg-light" style="padding-top:10px; padding-bottom:10px;">
    <h5 class="title" id="productTitle">@Model.Product.FullName</h5>


    <img src='@Model.Product.Photo' alt='Image for @Model.Product.FullName' width="150" height="150">


    <p class="card-text">About Me: @Model.Product.AboutMe</p>


    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Skills</h5>
    <div> <hr class="dashed"> </div>
    <div> @Model.Product.PersonalSkill</div>

    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Education</h5>
    @foreach (var EducationRecord in @Model.Product.EducationList)
    {
    <div> <hr class="dashed"> </div>
    <div> <strong>@EducationRecord.University</strong>, <strong>@EducationRecord.Degree </strong> Degree in <strong>@EducationRecord.Major</strong> </div>
    <div> From @EducationRecord.StartDate to @EducationRecord.EndDate, @EducationRecord.Location</div>

    }


    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Work Experience</h5>
    @foreach (var WorkExperience in @Model.Product.WorkExperienceList)
    {
    <div> <hr class="dashed"> </div>
    <div> <strong>@WorkExperience.Title</strong> at <strong>@WorkExperience.Employer</strong> from @WorkExperience.StartDate to @WorkExperience.EndDate</div>
    <div> @WorkExperience.Description </div>

    }


    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Awards</h5>
    @foreach (var AwardRecord in @Model.Product.AwardList)
    {
    <div> <hr class="dashed"> </div>
    <div> Award: <strong>@AwardRecord.Award</strong> </div>
    <div> Issuer: <strong>@AwardRecord.Issuer </strong> </div>
    <div> Award Date: <strong>@AwardRecord.AwardDate</strong> </div>

    }


    <div class="links">
        <ul>
            <li><p><a href="#" id="facebook" target="_blank">Share on Facebook</a></li>
            <li><p><a href="#" id="twitter" target="_blank">Share on Twitter</a></li>
            <li><p><a href="#" id="linkedin" target="_blank">Share on LinkedIn</a></li>
        </ul>
    </div>

    <div class="row" style="margin:10px;">
        <button class="btn btn-primary" onclick="window.print()" style="margin-right: 10px; width: 100px;">Print</button>
        <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary" style="margin-right: 10px; width: 100px;">Update</a>
        <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger" style="width: 100px;">Delete</a>
    </div>
</div>




