@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<div class="container bg-light" style="padding-top:10px; padding-bottom:10px;">
    <h5 class="title" id="productTitle">@Model.Product.FullName</h5>


    <img src='@Model.Product.Photo' alt='Image for @Model.Product.FullName' width="150" height="150">


    <p class="card-text">About Me: @Model.Product.AboutMe</p>


    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Skills</h5>
    <div> <hr class="dashed"> </div>
    <div> @Model.Product.PersonalSkill</div>

    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Education</h5>
    @foreach (var EducationRecord in @Model.Product.EducationList)
    {
        <div> <hr class="dashed"> </div>
        <div> <strong>@EducationRecord.University</strong>, <strong>@EducationRecord.Degree </strong> Degree in <strong>@EducationRecord.Major</strong> </div>
        <div> From @EducationRecord.StartDate to @EducationRecord.EndDate, @EducationRecord.Location</div>

    }


    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Work Experience</h5>
    <div> <hr class="dashed"> </div>
    <div> <strong>@Model.Product.Experiences.Title</strong> at <strong>@Model.Product.Experiences.Employer</strong> from @Model.Product.Experiences.StartDate to @Model.Product.Experiences.EndDate</div>
    <div> @Model.Product.Experiences.Description </div>


    <p class="card-text"></p>
    <h5 class="title" id="productTitle">Awards</h5>
    @foreach (var AwardRecord in @Model.Product.AwardList)
    {
        <div> <hr class="dashed"> </div>
        <div> <strong>@AwardRecord.Award</strong> </div>
        <div> Issuer <strong>@AwardRecord.Issuer </strong> Award Date <strong>@AwardRecord.AwardDate</strong> </div>

    }
    <div class="row" style="margin:10px;">
        <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
        <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger">Delete</a>
    </div>
</div>




