@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel

@{
    ViewData["Title"] = "Update page";
}

<div class="container bg-light" style="padding-top:10px; padding-bottom:10px;">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Product.Id)


        <div class="form-group">
            <!--
               Label – the string to display as the name
               Input – the data to store
               Validation – the error message to show
            -->
            <label class="control-label">Full Name</label>
            <input asp-for="Product.FullName" class="form-control" />
            <span asp-validation-for="Product.FullName" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Product.Photo" class="control-label"></label>
            <input asp-for="Product.Photo" class="form-control" />
            <span asp-validation-for="Product.Photo" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label class="control-label">Linkedin Url</label>
            <input asp-for="Product.LinkedinUrl" class="form-control" />
            <span asp-validation-for="Product.LinkedinUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Introduction</label>
            <textarea rows="2" asp-for="Product.AboutMe" class="form-control"></textarea>
            <span asp-validation-for="Product.AboutMe" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label class="control-label">Personal Skills</label>
            <textarea rows="2" asp-for="Product.PersonalSkill" class="form-control"></textarea>
            <span asp-validation-for="Product.PersonalSkill" class="text-danger"></span>
        </div>


        <hr class="rounded">
        <div class="divcss5">EDUCATION</div>
        <a class="btn btn-primary" asp-page="./Education/AddEducation" asp-route-id="@Model.Product.Id">Add Education</a>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>University</th>
                    <th>Degree</th>
                    <th>Major</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var education in Model.Product.EducationList)
                {
                    <tr>
                        <td>@education.University</td>
                        <td>@education.Degree</td>
                        <td>@education.Major</td>
                        <td><a class="btn btn-primary" asp-page="./Education/UpdateEducation" asp-route-productId="@education.ProductID" asp-route-EducationID="@education.ID">Update</a></td>
                        <td><a class="btn btn-primary" asp-page="./Education/DeleteEducation" asp-route-productId="@education.ProductID" asp-route-EducationID="@education.ID">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>


        <hr class="rounded">
        <div class="divcss5">WORK EXPERIENCE</div>
        <a class="btn btn-primary" asp-page="./WorkExperience/AddWorkExperience" asp-route-id="@Model.Product.Id">Add Work Experience</a>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Employer</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var WorkExperience in Model.Product.WorkExperienceList)
                {
                    <tr>
                        <td>@WorkExperience.Title</td>
                        <td>@WorkExperience.Employer</td>
                        <td><a class="btn btn-primary" asp-page="./WorkExperience/UpdateWorkExperience" asp-route-productId="@WorkExperience.ProductID" asp-route-WorkExperienceId="@WorkExperience.ID">Update</a></td>
                        <td><a class="btn btn-primary" asp-page="./WorkExperience/DeleteWorkExperience" asp-route-productId="@WorkExperience.ProductID" asp-route-WorkExperienceId="@WorkExperience.ID">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>


        <hr class="rounded">
        <div class="divcss5">AWARD</div>

        <a class="btn btn-primary" asp-page="./Award/AddAward" asp-route-id="@Model.Product.Id">Add Award</a>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Award</th>
                    <th>Issuer</th>
                    <th>AwardDate</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var award in Model.Product.AwardList)
                {
                    <tr>
                        <td>@award.Award</td>
                        <td>@award.Issuer</td>
                        <td>@award.AwardDate</td>
                        <td><a class="btn btn-primary" asp-page="./Award/UpdateAward" asp-route-productId="@award.ProductID" asp-route-AwardID="@award.ID">Update</a></td>
                        <td><a class="btn btn-primary" asp-page="./Award/DeleteAward" asp-route-productId="@award.ProductID" asp-route-AwardID="@award.ID">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-group">
            <label asp-for="Product.Password" class="control-label"></label>
            <input asp-for="Product.Password" class="form-control" value="Enter your password" />
            <span asp-validation-for="Product.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

@*Received HTML code from server*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
