@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel

@{
    ViewData["Title"] = "Update page";
}

<h1>Update</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Product.Id)

        <div class="form-group">
            <label asp-for="Product.FullName" class="control-label"></label>
            <input asp-for="Product.FullName" class="form-control" />
            <span asp-validation-for="Product.FullName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.FullName" class="control-label"></label>
            <textarea rows="5" asp-for="Product.Awards" class="form-control"></textarea>
            <span asp-validation-for="Product.Awards" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Awards" class="control-label"></label>
            <textarea rows="5" asp-for="Product.EducationHistory" class="form-control"></textarea>
            <span asp-validation-for="Product.EducationHistory" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.EducationHistory" class="control-label"></label>
            <textarea rows="3" asp-for="Product.PersonalSkill" class="form-control"></textarea>
            <span asp-validation-for="Product.PersonalSkill" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.AboutMe" class="control-label"></label>
            <input asp-for="Product.PersonalSkill" class="form-control" />
            <span asp-validation-for="Product.AboutMe" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.AboutMe" class="control-label"></label>
            <input asp-for="Product.AboutMe" class="form-control" />
            <span asp-validation-for="Product.LinkedinUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.LinkedinUrl" class="control-label"></label>
            <input asp-for="Product.LinkedinUrl" class="form-control" />
            <span asp-validation-for="Product.Photo" class="text-danger"></span>
        </div>

        @for (int i = 0; i < Model.WorkExperience.Length; i++)
        {
            <hr class="rounded">
            <div class="form-group" style="display: none;">
                <label asp-for="@Model.WorkExperience[i].Id" class="control-label"></label>
                <input asp-for="@Model.WorkExperience[i].Id" class="form-control" />
                <span asp-validation-for="@Model.WorkExperience[i].Id" class="text-danger"></span>
            </div>
            <div class="container">

                <div class="row">
                    <div class="form-group col-xs-6">
                        <label asp-for="@Model.WorkExperience[i].Employer" class="control-label"></label>
                        <input asp-for="@Model.WorkExperience[i].Employer" class="form-control" input-group-lg reg_name />
                        <span asp-validation-for="@Model.WorkExperience[i].Employer" class="text-danger"></span>
                    </div>

                    <div class="form-group col-xs-6">
                        <label asp-for="@Model.WorkExperience[i].Title" class="control-label"></label>
                        <input asp-for="@Model.WorkExperience[i].Title" class="form-control" input-group-lg reg_name />
                        <span asp-validation-for="@Model.WorkExperience[i].Title" class="text-danger"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-xs-6">
                        <label asp-for="@Model.WorkExperience[i].Title" class="control-label"></label>
                        <input asp-for="@Model.WorkExperience[i].StartDate" class="form-control" input-group-lg reg_name />
                        <span asp-validation-for="@Model.WorkExperience[i].StartDate" class="text-danger"></span>
                    </div>

                    <div class="form-group col-xs-6">
                        <label asp-for="@Model.WorkExperience[i].StartDate" class="control-label"></label>
                        <input asp-for="@Model.WorkExperience[i].EndDate" class="form-control" input-group-lg reg_name />
                        <span asp-validation-for="@Model.WorkExperience[i].EndDate" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <label asp-for="@Model.WorkExperience[i].EndDate" class="control-label"></label>
                    <textarea rows="5" asp-for="@Model.WorkExperience[i].RoleDescription" class="form-control"></textarea>
                    <span asp-validation-for="@Model.WorkExperience[i].RoleDescription" class="text-danger"></span>
                </div>
            </div>
        }

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}